body {
    font-family: 'Barlow', sans-serif !important;
    background-color: #fafafa;
}

.stil {
    border: 1px solid black;
    border-radius: 100%;
    color: black;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center
}
.stil2 {
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center
}

.fa-facebook:hover {
    color: white;
    background-color: RGB(65, 103, 178);
    border-color: RGB(65, 103, 178);
}

.fa-google:hover {
    color: white;
    background-color: #dc4437;
    border-color: #dc4437;
}

.fa-behance:hover {
    color: white;
    background-color: #1869ff;
    border-color: #1869ff;
}

.fa-rss:hover {
    color: white;
    background-color: #f36523;
    border-color: #f36523;
}