.bg-white {
    background-color: white !important;
}

.bg-black {
    background-color: #495565 !important;
}

.bg-gray {
    background-color: #fafafa;
}

body {
    font-family: 'Barlow', sans-serif !important;
    background-color: #f4f4f2;
}

.custom-p {
    padding-top: 15px;
}

.img {
    display: flex;
    align-items: flex-end;
}

.text {
    position: absolute;
    color: white;
    padding: 0px 0px 30px 30px;
}

/* .img1 {
    background-image: url(img/01.jpg);
    width: 100%;
    height: 615px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem;
} */

/* .img2 {
    background-image: url(img/02.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.img3 {
    background-image: url(img/03.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.img4 {
    background-image: url(img/04.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
} */

.category-text-main {
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: white;
}

.stil {
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center
}

.still {
    border: 1px solid black;
    border-radius: 100%;
    color: black;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center
}

.fa-facebook:hover {
    color: white;
    background-color: RGB(65, 103, 178);
    border-color: RGB(65, 103, 178);
}

.fa-google:hover {
    color: white;
    background-color: #dc4437;
    border-color: #dc4437;
}

.fa-behance:hover {
    color: white;
    background-color: #1869ff;
    border-color: #1869ff;
}

.fa-rss:hover {
    color: white;
    background-color: #f36523;
    border-color: #f36523;
}

.a-text {
    color: white;
}

@media only screen and (max-width: 991px) {
    .responsive-top-nav {
        flex-direction: column-reverse !important;
    }
    .pr-0 {
        padding-right: 15px!important;
        margin-bottom: 1rem !important;
    }
    .load-more {
        padding: 2rem !important;
    }
    .w-25 {
        width: 50% !important;
    }
    .navbar-toggler {
        background-color: #495565 !important;
        border: 1px solid #495565 !important;
    }
    .navbar-dark .navbar-toggler {
        color: #495565 !important;
        border-color: #495565 !important;
    }
    .responsive-nav {
        align-items: flex-start !important;
    }
}